extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.py-2
    .container.d-flex.align-items-center
      a.navbar-brand(href=`/usuario/${users.id}`)= users.nome
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href=`/postagem/usuario/${users.id}`) Cadastrar Postagem
          li.nav-item
            a.nav-link(href='/') Sair

  .container.mt-5
    h1.mb-4.text-center Últimas Postagens

    if postagens && postagens.length > 0
      .row
        each post in postagens
          .col-md-4.mb-4
            .card.h-100.shadow-sm.d-flex.flex-column
              .card-body.flex-grow-1
                h5.card-title= post.titulo
                p.card-text= post.descricao.length > 100 ? post.descricao.substring(0, 100) + '...' : post.descricao
              .card-footer.bg-transparent.border-top-0.text-end.mt-auto
                a.btn.btn-primary(href=`/postagem/${post.id}`) Ver mais
    else
      .alert.alert-info.text-center.mt-4 Nenhuma postagem encontrada. Seja o primeiro a criar uma!