extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.py-2
    .container.d-flex.align-items-center
      a.navbar-brand(href=`/usuario/${users.id}`)= users.nome
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href=`/postagem/usuario/${users.id}`) Cadastrar Postagem
          li.nav-item
            a.nav-link(href='/') Sair

  .container.mt-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        .card.shadow-sm
          .card-body
            h2.card-title.mb-4.text-center= title

            if verificacao
              .alert.alert-success.text-center= message
            else if verificacao === false
              .alert.alert-danger.text-center= message

            form(action=`/postagem/usuario/${users.id}` method="POST")
              .mb-3
                label.form-label(for="vtitulo") Título
                input.form-control(type="text", name="vtitulo", id="vtitulo", required, placeholder="Digite o título da postagem")

              .mb-3
                label.form-label(for="vdescricao") Descrição
                textarea.form-control(name="vdescricao", id="vdescricao", rows="5", required placeholder="Digite a descrição")

              button.btn.btn-primary.w-100(type="submit") Cadastrar Postagem

            .mt-3.text-center
              a(href=`/usuario/${users.id}`) Voltar para o início