extends layout

block content
  h1= title

  if verificacao
    
    h2 Usuário encontrado:
    ul
      li ID: #{users.id}
      li Nome: #{users.nome}
      li Email: #{users.email}
      li Ativo: #{users.ativo ? 'Sim' : 'Não'}
      li Data de cadastro: #{users.dt_cadastro.toLocaleDateString()}
  else
 
    h2 Usuário não encontrado.